# Ignore everything inside apps/
apps/*

# …but keep the apps/ directory itself
!apps/.gitkeep

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
